<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Playlist Recommendation System</title>
        {%load static%}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}"/>

        <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    </head>

    <body>
        <div class="ui stackable menu">
            <a class="item" href="http://127.0.0.1:8000"><img src="/frontend/src/static/images/logo.png"></a>
            <a class="item">Instructions</a>
            <a class="item" href="https://www.spotify.com/">Spotify</a>
            <a class="item" href="http://127.0.0.1:8000/about-us">About Us</a>
        </div>
        <div id="main">
            <div id="app"></div>
        </div>
        <script src="{% static 'frontend/main.js' %}"></script>
    </body>
    
</html>

